# Python
__pycache__/
*.py[cod]
*.egg-info/
venv/
.venv/
*.db

# Env files
.env
.env.local

# Chroma persisted data
chroma_data/

# Node
node_modules/
dist/
.vite/

# OS
.DS_Store

# IDE
.vscode/
.idea/
